<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/firstpage.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted segment s-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item"><i class="home icon"></i>blog</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class=" active  m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="info icon "></i>关于我</a>
            <div class=" m-item right item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="搜索">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="s-padded-tb-large s-container-small">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">共
                    <h3 class="ui orange header s-inline-block m-text-thin">14</h3>
                    篇
                </div>
            </div>
        </div>
        <div class="ui attached segment s-padded-tb-large">
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic teal button">下水道</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button s-margin-tb-mini">
                <a href="#" class="ui basic  button">发案率肯定会</a>
                <div class="ui basic  left pointing label">24</div>
            </div>

        </div>

        <div class="ui teal top attached segment">
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment s-padded-tb-large s-padded-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header ">你真整理解财富自由吗？</h3>
                        <p class="m-text">
                            《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，以描写战争为主，
                            诉说了东汉末年的群雄割据混 战和魏、蜀、吴三国之间的政治和军事斗争，
                            最终司马炎一统三国，建立晋朝的故事。
                            反映了三国时代各类社会斗争与矛盾的转化，并概括了这一时代的历史巨变，
                            塑造了一群叱咤风云的三国英雄人物
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1042/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">stone</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            2017-12-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            1265
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned ">
                                    <a href="#" target="_blank"
                                       class="ui teal basic label s-padded-tiny m-text-thin">
                                        认知升级
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal left pointing label s-padded-mini m-text-thin">
                                        方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1042/800/500" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui teal basic button mini">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui teal basic button mini">下一页</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!--底部内容-->
<footer class="ui inverted vertical segment s-padded-tb-massive">
    <div class="ui  center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px">
                    </div>
                </div>
            </div>
            <div class="three wide column m-opacity-mini">
                <h4 class="ui inverted header m-opacity-mini">最新消息</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column m-opacity-mini">
                <h4 class="ui inverted header m-opacity-mini">最新消息</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">最新消息</h4>
                <p class="m-opacity-mini m-opacity-mini m-opacity-mini">《三国演义》描写了从东汉末年到西晋初年之间近百年的历史风云，
                    以描写战争为主，诉说了东汉末年的群雄割据混战和魏、蜀、吴三国之间的政治和军事斗争，最终司马炎一统三国，建立晋朝的故事。
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-space m-opacity-mini">©Copyright©2020-2021 Author LirenMi copy by Stone</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>